*/FitNesseRoot/FitNesse
*/FitNesseRoot/RecentChanges
*/FitNesseRoot/updateDoNotCopyOverList
*/FitNesseRoot/updateList
*/FitNesseRoot/properties
*/FitNesseRoot/files/css
*/FitNesseRoot/files/html
*/FitNesseRoot/files/javascript
*/FitNesseRoot/files/templates
*/FitNesseRoot/files/images
*.zip
